body {
    background-color: whitesmoke;
}

.container {
    margin-top: 30px;
    text-align: center;
}

.appTitles {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}

.quoteBox {
    background-color: #E1E1E1;
    padding: 46px;
    margin: 20px 0;
}

#quote {
    font-family: 'Marck Script', cursive;
    line-height: 1.2;
    font-size: 26px;
    padding-bottom: 6px;
}

button {
    padding: 12px !important;
}

button:hover {
    font-size: 18px;
}

.footerContainer {
    display: flex;
    background-color: #E1E1E1;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footerText {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: black;
}